# Decison Tree

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"E:\Data Science\1\penguins_size.csv")

In [3]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
df.isna().sum()

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
df.shape

(344, 7)

In [8]:
df = df.dropna()

In [9]:
df.shape

(334, 7)

In [10]:
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [11]:
df["sex"].unique()

array(['MALE', 'FEMALE', '.'], dtype=object)

In [12]:
df = df[df["sex"]!='.']
df.shape

(333, 7)

In [13]:
df.dtypes

species               object
island                object
culmen_length_mm     float64
culmen_depth_mm      float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

In [14]:
df.head(3)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE

In [15]:
df=df[["species","island","sex","culmen_length_mm","culmen_depth_mm","flipper_length_mm","body_mass_g"]]

In [16]:
df

,species,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Torgersen,MALE,39.1,18.7,181.0,3750.0
1,Adelie,Torgersen,FEMALE,39.5,17.4,186.0,3800.0
2,Adelie,Torgersen,FEMALE,40.3,18.0,195.0,3250.0
4,Adelie,Torgersen,FEMALE,36.7,19.3,193.0,3450.0
5,Adelie,Torgersen,MALE,39.3,20.6,190.0,3650.0
...,...,...,...,...,...,...,...
338,Gentoo,Biscoe,FEMALE,47.2,13.7,214.0,4925.0
340,Gentoo,Biscoe,FEMALE,46.8,14.3,215.0,4850.0
341,Gentoo,Biscoe,MALE,50.4,15.7,222.0,5750.0
342,Gentoo,Biscoe,FEMALE,45.2,14.8,212.0,5200.0
343,Gentoo,Biscoe,MALE,49.9,16.1,213.0,5400.0

In [17]:
x = df.drop("species",axis=1)
y = df["species"]

In [18]:
x

,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Torgersen,MALE,39.1,18.7,181.0,3750.0
1,Torgersen,FEMALE,39.5,17.4,186.0,3800.0
2,Torgersen,FEMALE,40.3,18.0,195.0,3250.0
4,Torgersen,FEMALE,36.7,19.3,193.0,3450.0
5,Torgersen,MALE,39.3,20.6,190.0,3650.0
...,...,...,...,...,...,...
338,Biscoe,FEMALE,47.2,13.7,214.0,4925.0
340,Biscoe,FEMALE,46.8,14.3,215.0,4850.0
341,Biscoe,MALE,50.4,15.7,222.0,5750.0
342,Biscoe,FEMALE,45.2,14.8,212.0,5200.0
343,Biscoe,MALE,49.9,16.1,213.0,5400.0

In [19]:
from sklearn.preprocessing import OneHotEncoder

In [20]:
one = OneHotEncoder(sparse=False,handle_unknown='ignore')

In [21]:
x.iloc[:,0:2]

        island     sex
0    Torgersen    MALE
1    Torgersen  FEMALE
2    Torgersen  FEMALE
4    Torgersen  FEMALE
5    Torgersen    MALE
..         ...     ...
338     Biscoe  FEMALE
340     Biscoe  FEMALE
341     Biscoe    MALE
342     Biscoe  FEMALE
343     Biscoe    MALE

[333 rows x 2 columns]

In [22]:
x_dup =pd.DataFrame(one.fit_transform(x.iloc[:,0:2]),columns=one.get_feature_names_out())
x_dup.reset_index(inplace = True,drop="first")

In [23]:
x_dup

     island_Biscoe  island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0              0.0           0.0               1.0         0.0       1.0
1              0.0           0.0               1.0         1.0       0.0
2              0.0           0.0               1.0         1.0       0.0
3              0.0           0.0               1.0         1.0       0.0
4              0.0           0.0               1.0         0.0       1.0
..             ...           ...               ...         ...       ...
328            1.0           0.0               0.0         1.0       0.0
329            1.0           0.0               0.0         1.0       0.0
330            1.0           0.0               0.0         0.0       1.0
331            1.0           0.0               0.0         1.0       0.0
332            1.0           0.0               0.0         0.0       1.0

[333 rows x 5 columns]

In [24]:
x.drop(columns=["island","sex"],inplace=True)

In [25]:
x

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0                39.1             18.7              181.0       3750.0
1                39.5             17.4              186.0       3800.0
2                40.3             18.0              195.0       3250.0
4                36.7             19.3              193.0       3450.0
5                39.3             20.6              190.0       3650.0
..                ...              ...                ...          ...
338              47.2             13.7              214.0       4925.0
340              46.8             14.3              215.0       4850.0
341              50.4             15.7              222.0       5750.0
342              45.2             14.8              212.0       5200.0
343              49.9             16.1              213.0       5400.0

[333 rows x 4 columns]

In [26]:
x.reset_index(inplace = True,drop='first')

In [27]:
x

     culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0                39.1             18.7              181.0       3750.0
1                39.5             17.4              186.0       3800.0
2                40.3             18.0              195.0       3250.0
3                36.7             19.3              193.0       3450.0
4                39.3             20.6              190.0       3650.0
..                ...              ...                ...          ...
328              47.2             13.7              214.0       4925.0
329              46.8             14.3              215.0       4850.0
330              50.4             15.7              222.0       5750.0
331              45.2             14.8              212.0       5200.0
332              49.9             16.1              213.0       5400.0

[333 rows x 4 columns]

In [28]:
x_dup

     island_Biscoe  island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0              0.0           0.0               1.0         0.0       1.0
1              0.0           0.0               1.0         1.0       0.0
2              0.0           0.0               1.0         1.0       0.0
3              0.0           0.0               1.0         1.0       0.0
4              0.0           0.0               1.0         0.0       1.0
..             ...           ...               ...         ...       ...
328            1.0           0.0               0.0         1.0       0.0
329            1.0           0.0               0.0         1.0       0.0
330            1.0           0.0               0.0         0.0       1.0
331            1.0           0.0               0.0         1.0       0.0
332            1.0           0.0               0.0         0.0       1.0

[333 rows x 5 columns]

In [29]:
x = pd.concat([x,x_dup],axis=1)

In [30]:
x

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,39.1,18.7,181.0,3750.0,0.0,0.0,1.0,0.0,1.0
1,39.5,17.4,186.0,3800.0,0.0,0.0,1.0,1.0,0.0
2,40.3,18.0,195.0,3250.0,0.0,0.0,1.0,1.0,0.0
3,36.7,19.3,193.0,3450.0,0.0,0.0,1.0,1.0,0.0
4,39.3,20.6,190.0,3650.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
328,47.2,13.7,214.0,4925.0,1.0,0.0,0.0,1.0,0.0
329,46.8,14.3,215.0,4850.0,1.0,0.0,0.0,1.0,0.0
330,50.4,15.7,222.0,5750.0,1.0,0.0,0.0,0.0,1.0
331,45.2,14.8,212.0,5200.0,1.0,0.0,0.0,1.0,0.0
332,49.9,16.1,213.0,5400.0,1.0,0.0,0.0,0.0,1.0

In [31]:
x.reset_index(inplace = True,drop='first')
x

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,39.1,18.7,181.0,3750.0,0.0,0.0,1.0,0.0,1.0
1,39.5,17.4,186.0,3800.0,0.0,0.0,1.0,1.0,0.0
2,40.3,18.0,195.0,3250.0,0.0,0.0,1.0,1.0,0.0
3,36.7,19.3,193.0,3450.0,0.0,0.0,1.0,1.0,0.0
4,39.3,20.6,190.0,3650.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
328,47.2,13.7,214.0,4925.0,1.0,0.0,0.0,1.0,0.0
329,46.8,14.3,215.0,4850.0,1.0,0.0,0.0,1.0,0.0
330,50.4,15.7,222.0,5750.0,1.0,0.0,0.0,0.0,1.0
331,45.2,14.8,212.0,5200.0,1.0,0.0,0.0,1.0,0.0
332,49.9,16.1,213.0,5400.0,1.0,0.0,0.0,0.0,1.0

In [32]:
import joblib

In [33]:
joblib.dump(one,"OneHotee.joblib")

['OneHotee.joblib']

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
classifier = DecisionTreeClassifier()

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=32)

In [38]:
x_train.shape

(233, 9)

In [39]:
classifier.fit(x_train,y_train)

DecisionTreeClassifier()

In [40]:
classifier.score(x_train,y_train)

1.0

In [41]:
classifier.score(x_test,y_test)

0.98

In [42]:
pre = classifier.predict(x_test)

In [43]:
pre

array(['Adelie', 'Chinstrap', 'Adelie', 'Adelie', 'Adelie', 'Chinstrap',
       'Adelie', 'Chinstrap', 'Gentoo', 'Gentoo', 'Gentoo', 'Adelie',
       'Gentoo', 'Chinstrap', 'Chinstrap', 'Gentoo', 'Chinstrap',
       'Adelie', 'Chinstrap', 'Gentoo', 'Gentoo', 'Adelie', 'Adelie',
       'Chinstrap', 'Gentoo', 'Adelie', 'Gentoo', 'Gentoo', 'Adelie',
       'Adelie', 'Adelie', 'Adelie', 'Gentoo', 'Gentoo', 'Gentoo',
       'Chinstrap', 'Gentoo', 'Gentoo', 'Gentoo', 'Adelie', 'Adelie',
       'Chinstrap', 'Gentoo', 'Gentoo', 'Chinstrap', 'Gentoo', 'Adelie',
       'Gentoo', 'Gentoo', 'Adelie', 'Adelie', 'Gentoo', 'Gentoo',
       'Gentoo', 'Adelie', 'Adelie', 'Gentoo', 'Chinstrap', 'Gentoo',
       'Chinstrap', 'Gentoo', 'Adelie', 'Gentoo', 'Adelie', 'Adelie',
       'Gentoo', 'Adelie', 'Gentoo', 'Gentoo', 'Gentoo', 'Chinstrap',
       'Gentoo', 'Adelie', 'Adelie', 'Adelie', 'Adelie', 'Chinstrap',
       'Chinstrap', 'Gentoo', 'Gentoo', 'Chinstrap', 'Adelie', 'Gentoo',
       'Chinstrap', 'Adelie', 'Adelie', 'Adelie', 'Chinstrap',
       'Chinstrap', 'Gentoo', 'Adelie', 'Adelie', 'Chinstrap', 'Adelie',
       'Adelie', 'Adelie', 'Gentoo', 'Gentoo', 'Adelie', 'Gentoo'],
      dtype=object)

In [44]:
from sklearn.metrics import classification_report
print(classification_report(y_test,pre))

              precision    recall  f1-score   support

      Adelie       0.97      0.97      0.97        39
   Chinstrap       0.95      0.95      0.95        21
      Gentoo       1.00      1.00      1.00        40

    accuracy                           0.98       100
   macro avg       0.98      0.98      0.98       100
weighted avg       0.98      0.98      0.98       100

In [45]:
joblib.dump(classifier,"classifier.pkl")

['classifier.pkl']

In [46]:
check=df.copy()

In [47]:
check=check.head(1)
check

,species,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Torgersen,MALE,39.1,18.7,181.0,3750.0

In [48]:
check.drop("species",axis=1,inplace=True)

In [49]:
check

,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Torgersen,MALE,39.1,18.7,181.0,3750.0

In [50]:
one_hot = joblib.load("OneHotee.joblib")
one_hot

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [51]:
l=one_hot.transform(check.iloc[:,0:2])
l

array([[0., 0., 1., 0., 1.]])

In [52]:
c = one_hot.get_feature_names_out()

In [53]:
c

array(['island_Biscoe', 'island_Dream', 'island_Torgersen', 'sex_FEMALE',
       'sex_MALE'], dtype=object)

In [54]:
t = pd.DataFrame(l,columns=c)
t

   island_Biscoe  island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0            0.0           0.0               1.0         0.0       1.0

In [55]:
check

,island,sex,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g
0,Torgersen,MALE,39.1,18.7,181.0,3750.0

In [56]:
l2 = check.iloc[:,2:]

In [57]:
l2

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g
0              39.1             18.7              181.0       3750.0

In [58]:
final = pd.concat([l2,t],axis=1)
final

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,island_Biscoe,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,39.1,18.7,181.0,3750.0,0.0,0.0,1.0,0.0,1.0

In [59]:
final_model = joblib.load("classifier.pkl")
final_model

DecisionTreeClassifier()

In [60]:
final.shape

(1, 9)

In [61]:
final_model.predict(final)

array(['Adelie'], dtype=object)

In [62]:
pwd

'C:\\Users\\Anudeep Reddy\\Penguin'